<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinytongtong.dandelion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DandelionApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".biz.account.AccountActivity"
            android:label="账户信息" />
        <activity
            android:name=".biz.upload.UploadApkActivity"
            android:label="上传apk" />
        <activity
            android:name=".biz.grouplist.ApkGroupsListActivity"
            android:label="已上传的apk列表" />
        <activity
            android:name=".biz.buildslist.BuildsListActivity"
            android:label="获取App所有版本" />
        <activity
            android:name=".biz.detail.AppDetailActivity"
            android:label="获取App详细信息" />
    </application>

</manifest>